@use '../../style/_variables' as var;
    
    
.statistics-usage
    margin: 0 0 20px

    &__header
        display: flex
        align-items: center
        justify-content: space-between
        
    &__title
        font-size: 16px
        color: var.$primary-title-color
        font-weight: 400
        margin: 0 0 15px 10px