@use '../../style/variables' as var
    
    
.navigation
    padding: 2rem
    position: sticky
    bottom: 0
    width: 100%
    display: flex
    justify-content: space-between
    background-color: #FFFFFF
        
    &__navigation-icon
        color: var.$navigation-icon-color
        font-size: 28px
        .icon
            font-size: 28px
        .double-icons
            display: flex
            align-items: center
            justify-content: center
            height: 100%
            .icon
                font-size: 28px

    &__navigation-icon--active
        color: var.$navigation-icon-color-active