@use '../../style/variables' as var
    
    
.navigation
    padding: 2rem
    position: fixed
    bottom: 0
    width: 100%
    display: flex
    justify-content: space-between
        
    &__navigation-icon
        height: 30px
        width: 30px
        color: var.$navigation-icon-color
        font-size: 28px

    &__navigation-icon--active
        color: var.$navigation-icon-color-active