$body-color: #FAFAFA

$header-burger-menu-color: #0F407B

$primary-title-color: #1E1F25
$primary-text-color: #878A96
$secondary-text-color: #35CF94

$icon-color: #878A96
$icon-color-active: #F6F6F6

$button-color: #CBCCD2
$button-color-active: #0F407B

$navigation-icon-color: #CBCCD2
$navigation-icon-color-active: #0F407B