// ----------- Body -----------
$body-color: #FAFAFA


// ----------- Header -----------
$header-icon-color: #0F407B


// ----------- Text -----------
$primary-title-color: #1E1F25
$primary-text-color: #878A96
$secondary-text-color: #35CF94


// ----------- Boxes -----------
$box-shadow-color: #0000001A    // - box shadow color (with opacity)
$box-bg-color: #FFFFFF          // - box background
$box-bg-color-active: #0F407B   // - box bg color when active


// ----------- Icons -----------
$primary-icon-color: #878A96
$secondary-icon-color: #FFFFFF
$primary-icon-bg-color: #F1F1F1     // - primary background
$secondary-icon-bg-color: #0F407B   // - secondary background

// ----------- On/Off Sliders -----------

$button-color: #FFFFFF          // - on/off sliders dot
$button-color-off: #CBCCD2      // - on/off sliders when off
$button-color-active: #0F407B   // - on/off sliders when on


// ----------- Navigation -----------
$navigation-icon-color: #CBCCD2         // - navigation icon color
$navigation-icon-color-active: #0F407B  // - navigation icon color when active