// ----------- Body -----------
$body-color: #FAFAFA

// ----------- Header -----------
$header-icon-color: #0F407B

// ----------- Text -----------
$primary-title-color: #1E1F25
$primary-text-color: #878A96
$secondary-text-color: #35CF94

// ----------- Icons -----------
$icon-color: #878A96
// - primary background
$icon-bg-color: #F1F1F1
// - if active
$icon-color-active: #F6F6F6


// ----------- Buttons / On/Off Sliders -----------

// - on/off sliders dot
$button-color: #FFFFFF
// - on/off sliders when off
$button-color-off: #CBCCD2
// - on/off sliders when on
// - if a button is active
$button-color-active: #0F407B

// ----------- Navigation -----------
$navigation-icon-color: #CBCCD2
$navigation-icon-color-active: #0F407B