@use '../../style/_variables' as var;

    
.heat-thermostat
    margin: 0 0 40px

    &__title
        font-size: 16px
        color: var.$primary-title-color
        font-weight: 400
        margin: 0 0 15px 10px

    &__temperatures
        background-color: var.$box-bg-color
        border-radius: 20px
        padding: 1.5rem
        box-shadow: 0px 0px 12px -2px var.$box-shadow-color
        


    // Temperature Slider
    &__slider
        position: relative
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        width: 250px
        height: 250px
        margin: auto
        touch-action: none
        user-select: none

        svg
            height: 250px
            width: 250px

    &__value
        position: absolute
        display: flex
        flex-direction: column
        justify-content: center
        height: 160px
        width: 160px
        border-radius: 50%
        box-shadow: 0px 0px 12px -2px var.$box-shadow-color

        p:first-child
            font-size: 46px
            color: var.$primary-title-color

        p:last-child
            font-size: 14px
            color: var.$primary-text-color


    // Outside and inside temperatures
    &__temperature
        display: flex
        justify-content: space-between

    &__outside-temperature, &__inside-temperature
        display: flex
        align-items: center
        gap: 20px

        .icon
            font-size: 30px
            color: var.$primary-icon-color

        p
            font-size: 20px
            color: var.$primary-title-color

        span
            font-size: 12px
            color: var.$primary-text-color