@use '../../style/_variables' as var;
    
.smart-settings
    padding: 0 0 10px

    &__title
        font-size: 16px
        font-weight: 400
        margin: 0 0 15px 10px
        color: var.$primary-title-color

    &__settings
        display: grid
        grid-template-columns: 1fr 1fr
        overflow: auto
        gap: 10px
        height: 30vh
        margin: 0 -10px
        &::-webkit-scrollbar
            display: none

    &__light, &__heat
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        gap: 10px
    &__light
        padding: 0 0 0 10px
    &__heat
        padding: 0 10px 0 0

    &__light .light-article, &__heat .heat-article
        padding: 10px
        background-color: var.$box-bg-color
        box-shadow: 0px 0px 12px -2px var.$box-shadow-color
        border-radius: 10px
        min-height: 200px
        width: 100%
        
        .light-article-box-title, 
        .heat-article-box-title
            font-size: 14px
            color: var.$primary-title-color
            margin: 0 0 20px
            font-weight: 400